@font-face {
   font-family: 'NaiveFont_Black_v1';
   font-display: swap;
   src: url('file:///C:/Users/user/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-12-24_155444/fonts/NaiveFont_Black_v1/font.ttf');
}
